#one,
#two,
#three,
#four {
color: rgba(9, 128, 49, 0.726);
}
/* Задал цвет всем селекторам  ид, самый высокий приоритет   */


.paragraph.info {
	color: coral;
}
p.paragraph {
color: blue;
}

/* селектор .класс.класс приоритетней тег.класс */
div p {
	color: rgb(42, 32, 32);
}


p {
	color:rgb(107, 22, 22);
}
/* методом пробы выяснил тег p внутри тега div  приоритетней селектора тега p */

 
p span {
	color: darkgray;
}

span.year {
	color: aquamarine;
}

.year {
	color: rgba(251, 6, 6, 0.746);
}


span{
	color: blueviolet;
}
/* селектор класса приоритетенй чем селектор тега "span", но если уточняем обращение 
то цвет меняется в aquamarine  */


.subtitle {
	color: black;
}
/* ид приоритетнее () */

.subtitle a {
	color: red;
}

/*  
.subtitle > a  {
	color: yellow;
} */    
/* Только первый уровень вложенности ,  тут не совсем понимаю почему всё в жёлтом красится 
если можете обясните  */